/*
Theme Name: 	Basic Boot
Theme URI: 		http://wake-media.com/basicboot
Description: 	Default template for Wake Media LLC.
Version: 		1.0
Author: 		Wake Media LLC
Author URI: 	http://wake-media.com
Tags: 			wake media, responsive, bootstrap, customizable, developer
*/

@import url('css/normalize.css');

@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css');
@import url('bootstrap/css/bootstrap-theme.css'); 
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700'); 
@import url('css/styles.css');

body {
	font-family: 'Quicksand', sans-serif;
}

.learn a {
	color: #509623 !important;
}
.margintop120 {
	margin-top: 120%
}

.learn a:hover {
	color: #c7c7c7 !important;
	text-decoration: none;
}
.about-img {
	margin-left: auto !important;
	margin-right: auto !important;
	border: 5px solid #509623;
}

a.footer-menu {
	color: #fff !important;
}

.footer-text {
	color: #c7c7c7;
	text-align:center;
}

.footer-left{
	text-align:left;
	padding-left: 0px;
}

.footer-right{
	text-align:right;
}

.carousel-indicators .active {
	background-color: #509623;
	border: none !important;
}

.carousel-indicators li {
	background-color: #c7c7c7;
	border: none !important;
}

.bottompad {
	padding-bottom: 100px;
}

.nav-bg {
	background-color: #509623;
}

.navbar-inverse {
	background-image: none;
	background-color: #509623;
	border: none;
	text-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.menu-item {
	display:inline-block;
	padding: 15px;
}
.menu-item > a {
	color: white;
}

img.footer-pad {
    margin-left: 10px;
}

a:hover {
	color: #636362 !important;
	text-decoration: none !important;
}

.navbar-toggle {
	color: #fff !important;
}

a {
	text-shadow: none !important;
}

.navbar-nav {
	float: right;
}

.gray {
	background-color: #636362;
	height: 70px;
}

body {
	background-image: url("http://tmmemorabilia.kylakiefer.com/wp-content/uploads/2016/11/bg.jpg");
}

.fundraising {
    background-color: white;
    width: 100%;
}

.headerh1 {
	color: #509623;
	font-size: 30px;
}

.headerh1bg {
	color: #509623;
	font-size: 30px;
	background-color: #fff;
}

h1 {
	color: #509623;
	font-size: 24px;
}

h2 {
	color: #509623;
	font-size: 18px;
}

.about-img {
	margin-left: auto !important;
	margin-right: auto !important;
}

.strike {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap; 
}

.strike > span {
	position: relative;
	display: inline-block;
}

.strike > span:before,
.strike > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 3px;
	background: #509623;
}

.strike > span:before {
	right: 100%;
	margin-right: 15px;
}

.strike > span:after {
	left: 100%;
	margin-left: 15px;
}

.woocommerce-MyAccount-navigation > li{
    position: relative;
    display: block;
}

.checkout-button, wc-forward, #place_order {
	background-color: #509623 !important;
}

.woocommerce-info: {
	    border-top-color: #509623 !important;
}

.products > li {
	display: inline-block;
	padding: 20px;
}


h3 {
	color: #509623 !important;
}

h3:hover {
	color: #636362 !important;
}

.price {
	color: #509623 !important;
}

.price:hover {
	color: #636362 !important;
}