/*
Theme Name: 	Basic Boot
Theme URI: 		http://wake-media.com/basicboot
Description: 	Default template for Wake Media LLC.
Version: 		1.0
Author: 		Wake Media LLC
Author URI: 	http://wake-media.com
Tags: 			wake media, responsive, bootstrap, customizable, developer
*/

@import url('css/normalize.css');

@import url('bootstrap/css/bootstrap.css'); 
@import url('bootstrap/css/bootstrap-responsive.css');
@import url('bootstrap/css/bootstrap-theme.css'); 

@import url('css/styles.css');

.nav-bg {
	background-color: #509623;
}

.nav a {
	color: #fff;
}
/*test*/