.clear{clear:both;}


html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #cfcecf;
}

.navbar {
  margin-bottom: 0px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  margin-top:60px;
  min-height: 60px;
  background-color: #777777;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}


@media (max-width: 991px) {
.footer {
  position: relative;
  text-align:center !important;
}

.footer-left{
	text-align:center !important;
	padding-left: 0px;
	padding-right: 30px;
	padding-bottom: 0px;
}

.footer-right{
	text-align:center !important;
	padding-right: 70px;
	padding-top: 0px;
}

.footer-text {
	padding-top: 0px;
	padding-bottom: 0px;
}

.fa-stack{
	display: block;
	float: left;
	}
	
[class*="col-"] {
	clear: both;
	}
}


@media (max-width: 767px) {
.social_links > li {	
	display: none;
	}

}
	
.social_links > li > a {
position: relative;
display: block;
padding: 10px 5px;
}

.navbar {
border-radius: 0px !important;
}